.results-table-container {
  overflow: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #3f3f46 #18181b; /* Firefox */

  /* Chromium */
  -webkit-overflow-scrolling: touch;
}

.results-table-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.results-table-container::-webkit-scrollbar-track {
  background: #18181b;
}

.results-table-container::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
  border-radius: 6px;
  border: 2px solid #18181b;
}

.results-table-container::-webkit-scrollbar-thumb:hover {
  background-color: #52525b;
}

.personal-table td {
  padding: 6px;
}
