.wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
}

.square {
  height: 40px;
  width: 40px;
  border-radius: 4px;
  opacity: 10%;
  background-color: #06b6d4;
}
.square-1 {
  animation: pulse 2s ease-in-out 0s infinite;
}
.square-2 {
  animation: pulse 2s ease-in-out 0.2s infinite;
}
.square-3 {
  animation: pulse 2s ease-in-out 0.4s infinite;
}
.square-4 {
  animation: pulse 2s ease-in-out 0.6s infinite;
}

@keyframes pulse {
  0% {
    opacity: 10%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 10%;
  }
}
